.App {
  text-align: center;
}
.ToDoItem{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  /*align-items: right;*/
}
.ToDoItem-Edit{
  margin-right: 10px;
  padding-left: 10px;
}
.edit-text{
  margin-right: 10px;
}
.ToDoItem-Text{
  margin-right: 10px;
}
.ToDo-Content{
  width: 30%;
  margin: 0 auto;
  /*display: flex;
  justify-content: center;*/
}
textarea{

  height: 30px;
  margin-top: 14px;
}
input[type=text]{
  margin-top: 30px;
  /*width: 10%;*/
  /*height: 30px;*/
  margin-right: 10px;
}
::placeholder{
padding-left: 5px;
}
.ToDoItem-Save{
  height: 30px;
 background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /*padding: 1px 14px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 14px;
  border-radius: 5px;
}
.ToDoItem-Edit, .ToDoItem-Edit{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 4px;
  border-radius: 5px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 4px;
  border-radius: 5px;
}

